@import 'generator';

@mixin toaster($filters...) {

  @include filter-base;

  filter: contrast(1.5) brightness(.9) $filters;

  &::after {
    background: radial-gradient(circle, rgb(128, 78, 15), rgb(59, 0, 59));
    mix-blend-mode: screen;
  }

  @content;
}

%toaster,
.fx\:filter\:toaster {
  @include toaster;
}
